@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
	--grey-background-color: #c8c8c8;
	--form-container-background-color: #ffff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
}

body {
  background-color: var(--grey-background-color);
  justify-content: center;
  align-items: center;
  font-family:"Roboto", sans-serif;
  overflow: hidden;
}

main {
	margin: 10px;
	padding: 10px;
    border: 1px solid red;
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Roboto", sans-serif;
}

#form-container {
  border: 3px solid yellow;
  background-color: var(--form-container-background-color);
  display: flex;
  box-shadow: 0px 0px 25px 1px rgb(0,0,0,0.15);
  justify-content: center;
  width: 100%; /* Full width to use available space */
  height: 100%; /* Full height to use available space */
  max-width: calc(100vh - 160px);
  max-height: 100vw;
}

#form-section {
  border: 3px solid rosybrown;
  width: 100%;
  background-color: var(--form-container-background-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  aspect-ratio : 1 / 1;
}

#form-section form {
	width: 100%;
	padding: 25px;
	box-sizing: border-box; 
}

.logo-42{
  border: 1px solid red;
  width: 25%;
  content:url("image/42_Logo.svg.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: solid 1px green;
}

input {
  outline: none;
  border: none;
  padding: 5px 15px;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  font-family:"Roboto", sans-serif;
  font-size: medium;
}


.form-field {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 5px;
  margin: 5px 15px;
  transition: 200ms box-shadow ease-in-out;
  border: 1px solid rgb(0,0,0,0.05);
}


.form-field i{
  color: grey;
}

#forgot-password {
  text-align: right;
  font-size: 14px;
  color: grey;
}

#forgot-password small{
  cursor: pointer;
}

#submit-btn{
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(0,0,0,0.05);
  padding: 10px;
  outline: none;
  background-color: rgb(120, 116, 116);
  color: white;
  transition: 200ms background-color ease-in-out;
}


#submit-btn:hover{
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

button[type="submit"] {
  font-family:"Roboto", sans-serif;
}



/* CANVAS STYLE  */

#container-canva {
	align-items: center;
	border: solid 1px red;
	display: flex;
	justify-content: center;
	width: 100%; /* Full width to use available space */
	height: 100%; /* Full height to use available space */
	/* max-width: calc(100vh * (4 / 3) - 160px); */
	/* max-height: calc(100vw * (3 / 4)); Maximum height based on 4:3 aspect ratio */
	max-width: calc(100vh - 160px);
	max-height: 100vw;
  }

#myCanvas {
	border: solid 1px blue;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio : 1 / 1;
} 